<div>
  <table [dataSource]="dataSource" mat-table multiTemplateDataRows>
    <!-- Result Column -->
    <ng-container matColumnDef="result">
      <th *matHeaderCellDef mat-header-cell> Result</th>
      <td *matCellDef="let process" mat-cell>
        <span [ngClass]="{'color-red': process.result === 'NOK', 'color-green': process.result === 'OK'}">
        {{process.result}}
      </span>
      </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="idCode">
      <th *matHeaderCellDef mat-header-cell> ID</th>
      <td *matCellDef="let process" mat-cell> {{process.idCode}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="prgName">
      <th *matHeaderCellDef mat-header-cell> prgName</th>
      <td *matCellDef="let process" mat-cell> {{process.prgName}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell> Date</th>
      <td *matCellDef="let process" mat-cell> {{process.date}} </td>
    </ng-container>


    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="navigateTo(row)" *matRowDef="let row; columns: displayedColumns" class="row-hover" mat-row></tr>
  </table>

  <button (click)="loadMore()" mat-raised-button>Load More</button>
</div>
