<div id="headline">Detail view of Tightening Process {{processID}}</div>
<div id="content">
  <ul>
    <li>Result:
      <span [ngClass]="{'color-red': tiProcess.result === 'NOK', 'color-green': tiProcess.result === 'OK'}">
        {{tiProcess.result}}
      </span>
    </li>
    <li>Date: {{tiProcess.date}}</li>
    <li>Prg. Name: {{tiProcess.prgName}}</li>
    <li>ID Code: {{tiProcess.idCode}}</li>
    <li>Time: {{tiProcess.totalTime}}</li>
    <li>Last CMD: {{tiProcess.lastCmd}}</li>
    <li>Quality Code: {{tiProcess.qualityCode}}</li>
    <li>Torque Unit: {{tiProcess.torqueUnit}}</li>
    <li>Nom. Torque: {{tiProcess.nominalTorque}}</li>

    <li>Tightening Steps:
      <ul>
        <li *ngFor="let t of tiProcess.tighteningSteps; let i = index">
          Tightening Step {{i + 1}}:
          <div style="position: relative; overflow: hidden">
            <ul class="listing">
              <li>Name: {{t.name}}</li>
              <li>Torque: {{t.torque}}</li>
              <li>Angle: {{t.angle}}</li>
              <li>Duration: {{t.duration}}</li>
              <li>Speed: {{t.speed}}</li>
              <li>Last CMD: {{t.lastCmd}}</li>
              <li>Duration: {{t.duration}}</li>
              <li>Torque: {{t.torque}}</li>
              <li>Angle: {{t.angle}}</li>

              <li>Tightening Functions:
                <ul>
                  <li *ngFor="let f of t.tighteningFunctions; let j = index">
                    Tightening Function {{j}}
                    <ul>
                      <li>Name: {{f.name}}</li>
                      <li>Nom: {{f.nom}}</li>
                      <li>Act: {{f.act}}</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="chart">
              <canvas [chartType]="lineChartType" [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [legend]="lineChartLegend"
                      [options]="lineChartOptions"
                      baseChart
                      id="{{i}}">
              </canvas>
            </div>
          </div>

        </li>
      </ul>
  </ul>
</div>


